<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iPatient | <%= patient.name %> <%= patient.surname %></title>
    <link rel="stylesheet" href="/styles.css">  
</head>
<body>
    <header class="mainHeader">
        <nav class="mainNav">
            <ul class="navList">
                <li><a href="/show_patients">Patients</a></li>
                <li><a href="/">Doctors</a></li>
                <li><a href="/show_labs">Labs</a></li>                                          
            </ul>
        </nav>
    </header>
    <h3 class="mainTitle">Patient Card</h2>

    <ul class="patientCard">
        <li>Name: <%= patient.name %></li>
        <li>Surname: <%= patient.surname %></li>
        <li>ID: <%= patient.id %></li> 
        <li>Date of Birth: <%= patient.dateOfBirth.toLocaleString().slice(0,10) %></li>
        <li>Address: <%= patient.address %></li>
        <li>Phone: <%= patient.contactPhone %></li>
        <li>e-mail: <%= patient.email %></li>   
    </ul>

    <nav class="bottomMenu">
        <a href="/show_patients">Back</a>
        <a href="/edit_patient/<%=patient.id%>">Edit</a>
    </nav>
    
    
</body>
</html>